@model List<Student>
@{
    ViewData["Title"] = "Grades";
    int level = (int)ViewBag.level;
}

<div class="text-center">
    @if (level < 2)
    {
        <h2>You do not have a sufficient access level to view this data.</h2>
    }
    else if (level >= 2 && level < 8)
    {
        foreach (var student in Model)
        {
                        <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                        <td>@student.firstName</td>
                        <td>@student.LastName</td>
            </tr>
                </tbody>

            </table>
        }
    }
    else if (level >= 8)
    {
        <h2>Hello,Admin</h2>
        foreach (var student in Model)
        {
            <table class="table table-bordered table-striped">
    <thead>
        <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Grade</th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td>@student.firstName</td>
                <td>@student.LastName</td>
                <td>@student.grade</td>
            </tr>
                </tbody>

            </table>
        }
    }

</div>
