@model IEnumerable<Ticket>

<div class="row">
	<div class="col-md-2">
		<form asp-action="Filter" method="post">
			<div class="mb-3">
				<label class="form-label">Point:</label>
				<select name="filter" class="form-select"
						asp-items="@(new SelectList(ViewBag.Points,"PointId", "PointValues", ViewBag.Filter.PointId))">
					<option value="all">All</option>
					</select>
			</div>
			<div class="mb-3">
				<label class="form-label">Status:</label>
				<select name="filter" class="form-select"
						asp-items="@(new SelectList(ViewBag.Statuses,"StatusId", "Name", ViewBag.Filter.StatusId))">
					<option value="all">All</option>
				</select>
			</div>
			<button type="submit" class="btn btn-primary">Filter</button>
			<a asp-action="Index" asp-route-id="" class="btn btn-primary">
				Clear
			</a>
		</form>
	</div>
	<div class="col-md-10">
		<form asp-action="MarkDone" method="post" asp-route-id="@ViewBag.Filter.FilterString">
			<table class="table table-bordered table-striped mt-2">
				<thead>
					<tr>
						<th>Description</th>
						<th>Point Value</th>
						<th>Sprint Number</th>
						<th>Status</th>
						<th class="w-25"></th>
					</tr>
				</thead>
				<tbody>
					@foreach (Ticket task in Model)
					{
						<tr>
							<td>@task.Description</td>
							<td>@task.Point.PointValues</td>
							<td>@task.Name</td>
						<td>
								@if (task.StatusId == "don")
							{
								<button type="submit" class="btn btn-primary btn-sm"
								name="@nameof(Ticket.Id)"
								value="@task.Id">
							Mark Done
							</button>
							}
						</td>
						</tr>
					}
				</tbody>
			</table>
		</form>
		<form asp-action="DeleteDone" method="post"
		asp-route-id="@ViewBag.Filter.FilterString">
		<a asp-action="Add" class="btn btn-primary">
			Add task
		</a>
		<button type="submit" class="btn btn-primary">
			Delete done tasks
		</button>
	</form>
	</div>
</div>
