@model List<Contacts>
@{
    ViewData["Title"] = "List Contacts";
}

<div class="mb-2">
    <a asp-controller="Contacts" asp-action="Add">Add New Contact</a>
</div>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Phone number</th>
            <th>Address</th>
            <th>Notes</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var contacts in Model)
        {
            <tr>
                <td>@contacts.Name</td>
                <td>@contacts.phoneNumber</td>
                <td>@contacts.address</td>
                <td>@contacts.notes</td>
                <td>
                    <a asp-controller="Contacts" asp-action="Delete"
                       asp-route-id="@contacts.ContactId">Delete</a>
                </td>
            </tr>
        }
    </tbody>

</table>
